name: Benchmark

on:
  push:
    tags:
      - v*

permissions:
  contents: write
  deployments: write

jobs:
  test:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - uses: ./.github/actions/setup
      - run: make bench
      - if: ${{ always() }}
        run: make test-env-stop
      - uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1
        with:
          name: Gravity Benchmark
          tool: 'go'
          output-file-path: .test-output
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@BeryJu'
          summary-always: true
