---
name: Release - Publish

on:
  release:
    types: [published, created]

permissions:
  packages: write
  contents: read
  pull-requests: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      packages: write
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: vars
        run: make ci--env
      - id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          flavor: |
            latest=false
          tags: |
            type=raw,value=v${{ steps.vars.outputs.version }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: push
        with:
          tags: |
            ghcr.io/beryju/gravity:stable
            ghcr.io/beryju/gravity:v${{ steps.vars.outputs.version }}
          push: true
          sbom: true
          provenance: true
          platforms: linux/amd64,linux/arm64
          context: .
          build-args: |
            BUILD=${{ steps.vars.outputs.build }}
            GIT_BUILD_HASH=release
          labels: ${{ steps.meta.outputs.labels }}
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-name: ghcr.io/beryju/gravity
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: push-external-dns
        with:
          tags: |
            ghcr.io/beryju/gravity-external-dns:stable
            ghcr.io/beryju/gravity-external-dns:v${{ steps.vars.outputs.version }}
          push: true
          platforms: linux/amd64,linux/arm64
          context: .
          file: cmd/external-dns/Dockerfile
          build-args: |
            BUILD=${{ steps.vars.outputs.build }}
            GIT_BUILD_HASH=release
          labels: ${{ steps.meta.outputs.labels }}
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-name: ghcr.io/beryju/gravity-external-dns
          subject-digest: ${{ steps.push-external-dns.outputs.digest }}
          push-to-registry: true
  build-cli:
    name: Build CLI
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        arch: [arm64, amd64]
        os: [darwin, linux]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} make bin/gravity-cli
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/gravity-cli
          asset_name: gravity-cli_${{ matrix.os }}_${{ matrix.arch }}
          tag: ${{ github.ref }}
