name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: ./.github/actions/setup
      - run: make gen-build gen-clean gen-client-go gen-external-dns gen-go-tidy
      - uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v8
        with:
          args: --timeout 5000s
  test-unittest:
    name: Test (unittest)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: ./.github/actions/setup
      - run: make test
      - uses: ./.github/actions/test-results
        if: ${{ always() }}
        with:
          flags: unittest
  test-bench:
    name: Test (bench)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: ./.github/actions/setup
      - run: make bench
      - uses: ./.github/actions/test-results
        if: ${{ always() }}
        with:
          flags: bench
  test-e2e:
    name: Test (e2e)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - uses: ./.github/actions/setup
      - run: make test-e2e-container-build
      - run: make test-e2e
      - uses: ./.github/actions/test-results
        if: ${{ always() }}
        with:
          flags: e2e
  test-mark:
    if: always()
    needs:
      - lint
      - test-unittest
      - test-e2e
      - test-bench
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
